* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: auto;
}

.bg-black {
    background-color: black;
}

.d-inline-block{
    display: inline-block;
}

.text-white {
    color: white;
}

.text-it{
    color: orangered;
}

.size-axit{
    font-size: 50px;
}

.float-right {
    float: right;
}

a {
    text-decoration: none;
}

ul{
    list-style: none;
}

nav{
    padding: 1% 0%;
}

nav ul {
    width: 60%;
    margin-top: 1%;
}
nav li{
     margin-left: 11%;
}

.text-gray{
      color: rgb(170, 169, 169);
}

.size-axit-nav{
    font-size: 30px;
}

.text-upercase{
    text-transform: uppercase;

}


.margin-botom-top{
    margin: 5% 0;
}

.banner {
    background-image: url(../images/dodge-challenger-7680x4320-13503.jpg);
    height: 590px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.621);
    height: 100%;
    padding: 10% 0%;
}

.card {
    float: left;
    width: 40%;
}
.btn-transparent {
    margin-top: 2%;
    padding: 1% 3%;
    background-color: transparent;
    color: white;
    border: 2px solid;
}

form{
    float: right;
    width: 30%;
    background-color: white;
    text-align: center;
    border-radius: 8px;
     margin-right: 2%;
}

.text-center {
    text-align: center;
}

hr {
    width: 20%;
    margin: 2% 0;
    border: 2px solid;
}
p{
    margin: 5% 0;
}

input{
    display: block;
    width: 80%;
    margin: 15% auto;
    border: none;
    border-bottom: 1px solid rgb(183, 183, 183);


}

button{
    display: block;
}


.color-free{
    color: orange;
}
form h2{
    background-color: rgb(236, 236, 236);
    padding: 3% 0;
     border-radius:8px 8px 0 0;
}

form button{
    width: 100%;
    background-color: orange;
    border: none;
    padding: 5% 0;
    border-radius:0 0 8px 8px;
}